.genre-songs-page {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .songs-list {
    list-style-type: none;
    padding: 0;
  }
  
  .songs-list li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
  }
  
  .songs-list li:hover {
    background-color: #000000;
  }
  
  .media-player-container {
    margin-top: 20px;
    border: 1px solid #000000;
    padding: 10px;
    background-color: #f9f9f9;
  }
  