.global-search-page {
    display: flex;
  }
  
  .content {
    margin-left: 16%;
    flex-grow: 1;
    padding: 20px;
  }
  
  .genres {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .genre-cover {
    cursor: pointer;
    text-align: center;
    transition: transform 0.5s;
    font-family: Verdana, sans-serif;
  }
  
  .genre-cover img {
    width: 200px;
    height: auto;
    border-radius: 10px;
  }
  
  .genre-cover:hover {
    transform: scale(1.05);
  }
  