

.song-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.song-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.song-item span {
    flex-grow: 1;
}

.container-music-list{
    overflow-y: scroll;
    padding: 20px;
}
.container-music-list::-webkit-scrollbar {
    width: 10px;
}

.container-music-list::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
}
  
.container-music-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg,#ca16a3, #8f288f);
}
