.global-search-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  text-align: left;
  visibility: visible;
}

.content {
  margin-left: 20%;
  flex-grow: 1;
  padding: 20px;
  height: calc(100vh - 60px); 
  overflow: auto; 
}

.genres-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.genres-row {
  display: flex;
  overflow-x: auto; 
  gap: 10px;
  padding: 10px 0;
  scroll-snap-type: x mandatory; 
}

.genre-cover {
  flex: 0 0 auto; 
  cursor: pointer;
  text-align: center;
  transition: transform 0.5s;
  font-family: Verdana, sans-serif;
  scroll-snap-align: center; 
}

.genre-cover img {
  width: 150px;
  height: auto;
  border-radius: 10px;
}

.genre-cover:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .genre-cover {
    width: 120px;
    min-width: 120px;
  }
}
