body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.header{
    position: absolute;
    top: 7%;
}
/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

.content {
    text-align: center;
    position: absolute;
    bottom: 5%;
}

/* .title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 1.5rem;
    color: #555;
} */

.song-item{
    text-align: left;
    color:#fff;
    font-size: x-large;
    display: flex;
    align-items: center;
    margin: 5px;
}
.songPlay:hover{
    cursor: pointer;
}
.addMusicImg{
    height: 40px;
    width: 40px;
}
.btn-add{
    margin-left: 10px;
    padding: 0;
    background: none;
    border: none;
}
.btn-add:hover{
    cursor: pointer;
}

.container-music{
    overflow-y: scroll;
    height: 200px;
}
.container-music::-webkit-scrollbar {
    width: 10px;
}

.container-music::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
}
  
.container-music::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg,#ca16a3, #8f288f);
}

/* Основные стили для текста и элементов */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Стили для мобильных устройств */
@media screen and (max-width: 768px) {
    body {
        font-size: 10px; /* Уменьшите размер шрифта */
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 0.9em; /* Соответствующее уменьшение для заголовков */
    }

    .container {
        padding: 10px; /* Уменьшите внутренний отступ для контейнера */
    }
}

/* Стили для еще меньших устройств */
@media screen and (max-width: 480px) {
    body {
        font-size: 12px; /* Ещё меньше размер шрифта */
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 0.9em; /* Ещё меньше размер для заголовков */
    }

    .container {
        padding: 5px; /* Ещё меньше внутренний отступ для контейнера */
    }
}

