.homepage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
.redheader {
  flex: 0 0 auto;
  padding: 20px;
  text-align: center;
  background: linear-gradient(to right, #7b4397, #dc2430);
  color: white;
    margin-top: 55px;
}

.section-platform {
    flex: 1 1 auto;
    padding: 20px;
    overflow-y: auto;
}

.container-music {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 0 15% 0;
    overflow-y: auto;
    height: 100%;
}

.song-list {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 10px;
}

.song-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.songPlay {
  flex: 1;
  margin-left: 10px;
  font-size: 18px;
  word-wrap: break-word; 
}

.btn-add {
  background: transparent;
  border: none;
  cursor: pointer;
}

.addMusicImg {
  width: 20px;
  height: 20px;
}

@media (max-width: 600px) {
  .redheader {
      padding: 30px;
      font-size: 14px;
      text-align: center;
  }
  .section-platform {
      padding: 10px;
      width: 100%;
  }
    .song-list {
        padding: 50px;
    }

  .song-item {
      flex-direction: column;
      align-items: flex-start;
      padding: 8px;
  }

  .songPlay {
      margin-right: 0;
      margin-bottom: 10px;
      font-size: 16px;
      word-wrap: break-word;
  }

  .btn-add {
      align-self: flex-end;
  }

  .addMusicImg {
      width: 15px;
      height: 15px;
  }
}

