.homepage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.header {
  flex: 0 0 auto;
  padding: 20px;
  text-align: center;
  background: linear-gradient(to right, #7b4397, #dc2430);
  color: white;
}

.section-platform {
  flex: 1 1 auto;
  padding: 20px;
  overflow-y: auto;
  background: linear-gradient(to right, #e66465, #9198e5);
}

.container-music {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.song-list {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.song-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.songPlay {
  flex: 1;
  margin-right: 10px;
  font-size: 14px;
  word-wrap: break-word; 
}

.btn-add {
  background: transparent;
  border: none;
  cursor: pointer;
}

.addMusicImg {
  width: 24px;
  height: 24px;
}

@media (max-width: 600px) {
  .header {
      padding: 10px;
      font-size: 14px;
      margin-right:10px ;
  }

  .section-platform {
      padding: 10px;
  }

  .song-list {
      padding: 0 01px; 
  }

  .song-item {
      flex-direction: column;
      align-items: flex-start;
      padding: 5px; 
  }

  .songPlay {
      margin-right: 0;
      margin-bottom: 10px;
      font-size: 16px;
  }

  .btn-add {
      align-self: flex-end;
  }

  .addMusicImg {
      width: 20px;
      height: 20px;
  }
}
