@media (min-width: 421px) {
  .media-button {
    padding: 0.75rem;
  }
}

.media-controls {
  align-items: center;
  background: rgba(69, 69, 69, 0.3);
  border: 1px solid #fffaec;
  border-radius: 20px;
  color: rgba(0, 0, 0, 0.17);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: -2rem;
  padding: -1rem;
  position: relative;
}
.container-media{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.media-controls::after {
  border-radius: 20px;
  box-shadow: 0 2px 2px rgba(255, 165, 0, 0.25), 0 4px 4px rgba(255, 165, 0, 0.2), 0 8px 8px rgba(255, 165, 0, 0.15), 0 16px 16px rgba(255, 165, 0, 0.1), 0 24px 24px rgba(255, 165, 0, 0.05);
  content: '';
  height: 100%;
  left: 0;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.media-buttons {
  display: flex;
  flex-wrap: nowrap;
}

.media-button {
  background-color: transparent;
  border: none;
  align-items: center;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 40%;
  height: 10%; 
}
.media-button:hover{
  cursor: pointer;
}

.button-icons {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  margin-left: 3rem;
  padding: 0.9rem;
  font-size: 0.9rem; 
}

.fa-step-backward,
.fa-backward,
.fa-play,
.fa-pause,
.fa-forward,
.fa-step-forward,
.fa-random {
  font-size: 0.9rem; 
}

.back-button,
.skip-button {
  .button-icons {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.28);
  }
}

.rewind-button,
.fast-forward-button {
  .button-icons {
    background: linear-gradient(to bottom left, rgba(255, 238, 185, 1), rgba(255, 165, 0, 0.2));
    color: rgba(0, 0, 0, 0.19);
  }
}

.play-button {
  .button-icons {
    background: linear-gradient(to bottom left, #ffffff, rgba(255, 238, 185, 1));
    border: 1px solid #fffaec;
    box-shadow: -1px 1px 1px rgba(255, 165, 0, 0.25), 1px -1px 1px rgba(255, 255, 255, 0.25), -2px 2px 2px rgba(255, 165, 0, 0.2), 2px -2px 2px rgba(255, 255, 255, 0.2), -4px 4px 4px rgba(255, 165, 0, 0.15), 4px -4px 4px rgba(255, 255, 255, 0.15), -8px 8px 8px rgba(255, 165, 0, 0.1), 8px -8px 8px rgba(255, 255, 255, 0.1), -16px 16px 16px rgba(255, 165, 0, 0.05), 16px -16px 16px rgba(255, 255, 255, 0.05);
    color: #ffa800;
    margin-bottom: 0.5rem;
    padding: 2rem;
  }
}

.button-text {
  margin-top: auto;
}

.media-progress {
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem 1rem 0.5rem 1rem;
}

.progress-bar-wrapper {
  background-color: transparent;
  border-radius: 0.75rem;
  box-shadow: inset -1px 1px 1px rgba(255, 165, 0, 0.25), inset 1px -1px 1px rgba(255, 255, 255, 0.25), inset -2px 2px 2px rgba(255, 165, 0, 0.2), inset 2px -2px 2px rgba(255, 255, 255, 0.2), inset -4px 4px 4px rgba(255, 165, 0, 0.15), inset 4px -4px 4px rgba(255, 255, 255, 0.15), inset -8px 8px 8px rgba(255, 165, 0, 0.1), inset 8px -8px 8px rgba(255, 255, 255, 0.1), inset -16px 16px 16px rgba(255, 165, 0, 0.05), inset 16px -16px 16px rgba(255, 255, 255, 0.05);
  height: 0.75rem;
  position: relative;
  width: 100%;
}

.progress-bar {
  background: linear-gradient(to right, #ffff00, #ffa800);
  border-radius: 0.75rem;
  box-shadow: none;
  height: 0.75rem;
  transition: width 0.1s linear; 
}

.current-song-name{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:black;
  font-size: x-large;
  margin: 5px;
}
@media screen and(min-width: 1000px) {
  .container-music{
    width: 500px;
  }

}

@media screen and (max-width: 768px) {

  .media-button {
    width: 10%; 
    height: 5%; 
  }
}

@media screen and (max-width: 480px) {
  .media-button {
    width: 15%; 
    height: 10%; 
  }

.button-icons {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  padding-left: 2rem;
  margin-left: 1rem;
  padding: 0.9rem;
  font-size: 0.9rem; 
}

.fa-step-backward,
.fa-backward,
.fa-play,
.fa-pause,
.fa-forward,
.fa-step-forward,
.fa-random {
  font-size: 0.6rem; 
}
}
