/* Основные стили для Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Скрыть sidebar по умолчанию */
    bottom: 0;
    width: 250px; /* Ширина боковой панели по умолчанию */
    background-color: #000000;
    padding-top: 20px;
    padding-left: 20px;
    overflow-y: auto;
    height: 100%;
    transition: 0.3s;
    border-radius: 0 25px 25px 0;

}

.sidebar.open {
    left: 0;
}

.sidebar-toggle {
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 1001;
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 15px;
}

.sidebar-toggle:hover {
    background-color: #ca16a3;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    margin-bottom: 20px;
    width: 60%;
    height: auto;
}

.menu {
    margin-bottom: 20px;
    
}

.menu h5, h3 {
    color: #fff;
    font-size: 14px;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #444;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    padding: 10px 20px;
}

.menu-link {
    display: flex;
    align-items: center;
    color: #ccc;
    text-decoration: none;
}

.menu-link:hover {
    color: #fff;
}

.menu-link i {
    margin-right: 10px;
}

.container-user {
    margin-top: 300px;
    margin-left: 20px;
    color: #fff;
}

/* Стили для мобильных устройств */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 200px; /* Уменьшите ширину боковой панели для мобильных устройств */
    }
    
    .sidebar a {
        font-size: 18px; /* Уменьшите размер шрифта */
        padding: 10px 15px; /* Уменьшите внутренний отступ */
    }

    .sidebar .logo, .sidebar .menu-title {
        font-size: 20px; /* Уменьшите размер шрифта для логотипа и заголовка меню */
        padding: 10px; /* Уменьшите внутренний отступ */
    }

    .main-content {
        margin-left: 200px; /* Соответствующий отступ для основного контента */
    }
}

/* Стили для мобильных устройств */
@media screen and (max-width: 768px) {
    body {
        font-size: 8px; /* Увеличили размер шрифта для лучшей читаемости */
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 1.5em; /* Соответствующее уменьшение для заголовков */
    }

    .container {
        padding: 1rem; /* Увеличили внутренний отступ для контейнера */
    }

    .song-item {
        font-size: 0.9rem; /* Уменьшили размер шрифта */
        margin-left: 0.5rem; /* Уменьшили отступ */
    }

    .addMusicImg {
        height: 30px; /* Уменьшили размер */
        width: 30px; /* Уменьшили размер */
    }
}

/* Стили для еще меньших устройств */
@media screen and (max-width: 480px) {
    body {
        font-size: 10px; /* Ещё больше увеличили размер шрифта */
    }
    .sidebar {
        width: 30%; /* Ещё меньше ширина для совсем маленьких устройств */
    }
    
    .sidebar a {
        font-size: 1rem; /* Ещё меньше размер шрифта */
        padding: 3%; /* Ещё меньше внутренний отступ */
    }
    .main-content {
        margin-left: 150px;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 1.2em; /* Ещё больше уменьшили размер для заголовков */
    }

    .container {
        padding: 0.5rem; /* Ещё больше увеличили внутренний отступ для контейнера */
    }

    .song-item {
        font-size: 0.8rem; /* Ещё больше уменьшили размер шрифта */
        margin-left: 0.3rem; /* Уменьшили отступ */
    }

    .addMusicImg {
        height: 25px; /* Ещё больше уменьшили размер */
        width: 25px; /* Ещё больше уменьшили размер */
    
    }
    .menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    .menu li {
        padding: 6% 0%;
    }
    
    .menu-link {
        display: flex;
        align-items: center;
        color: #ccc;
        text-decoration: none;
    }
}
