.sidebar {
    position:fixed;
    top: 0;
    left: -20px;
    bottom: 0;
    width: 190px;
    background-color: #000000;
    padding-top: 20px;
    padding-left: 20px;
    overflow-y: auto;
    border-radius: 25px;
    height: 100%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    margin-bottom: 20px;
    width: 60%;
    height: auto;
}

.menu {
    margin-bottom: 20px;
}

.menu h5, h3 {
    color: #fff;
    font-size: 14px;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #444;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    padding: 10px 20px;
}

.menu-link {
    display: flex;
    align-items: center;
    color: #ccc;
    text-decoration: none;
}

.menu-link:hover {
    color: #fff;
}

.menu-link i {
    margin-right: 10px;
}
.container-user{
margin-top: 300px;
margin-left: 20px;
color:#fff;
}

/* Основные стили для Sidebar */
.sidebar {
    width: 250px; /* Ширина боковой панели по умолчанию */
    transition: 0.3s;
}

/* Стили для мобильных устройств */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 200px; /* Уменьшите ширину боковой панели для мобильных устройств */
    }
    
    .sidebar a {
        font-size: 18px; /* Уменьшите размер шрифта */
        padding: 10px 15px; /* Уменьшите внутренний отступ */
    }

    .sidebar .logo, .sidebar .menu-title {
        font-size: 20px; /* Уменьшите размер шрифта для логотипа и заголовка меню */
        padding: 10px; /* Уменьшите внутренний отступ */
    }

    .main-content {
        margin-left: 200px; /* Соответствующий отступ для основного контента */
    }
}

/* Стили для еще меньших устройств */
@media screen and (max-width: 480px) {
    .sidebar {
        width: 150px; /* Ещё меньше ширина для совсем маленьких устройств */
    }
    
    .sidebar a {
        font-size: 16px; /* Ещё меньше размер шрифта */
        padding: 8px 10px; /* Ещё меньше внутренний отступ */
    }

    .sidebar .logo, .sidebar .menu-title {
        font-size: 18px; /* Ещё меньше размер шрифта для логотипа и заголовка меню */
        padding: 8px; /* Ещё меньше внутренний отступ */
    }

    .main-content {
        margin-left: 150px; /* Соответствующий отступ для основного контента */
    }
}
